@media (min-width: 768px) {
.about-us {
    width: 100%;
    max-height: 616px;
    
    background-image: url("../img/7e278e90e64f847a878f7e359fdfe68f.png");
    background-position-x: calc(100% + 207px);
    background-position-y: calc(100% + 18px);
    background-size: 1534px 928px;
    background-repeat: no-repeat;
}

.about-us .gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #FBF8F8 40.92%, rgba(254, 254, 254, 0.93) 48.78%, rgba(254, 254, 254, 0.84) 55.54%, rgba(251, 248, 248, 0) 69.05%);
}

.about-us .container{
    width: 100%;
    min-height: 381px;
    padding-top: 116px;
    padding-bottom: 119px;
}
.about-us h2 {
    line-height: 61px;
}
.about-text {
    width: 514px;
    margin-top: 18px;
}
.about-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}
.about-text p:first-child {
    font-weight: 600;
    margin-bottom: 23px;
}
.about-us a {
    display: block;
    color: #A87D36;
    text-decoration: none;
    margin-top: 36px;
    line-height: 27px;
}

.about-background {
    display: none;
}}
@media (max-width: 768px) {
    .about-us .container {
        padding-top: 47px;
        padding-bottom: 37px;
    }
    .about-us h2 {
        font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #2f2f2f;
    }
    .about-text {
        padding-top: 29px;
        padding-bottom: 22px;
    }
    .about-us p:first-child {

        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 27px;
        color: #2F2F2F;
    }
    .about-us p:last-child {
        margin-top: 29px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #2F2F2F;
    }
    .about-us a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
        color: #AD8442;
    }
    .about-background {
        width: 100%;
        min-height: 447px;
        display: block;
        background-image: url("../img/7e278e90e64f847a878f7e359fdfe68f.png");
        background-repeat: no-repeat;
        background-size: 901px 674px;
        background-position-x: 65%;
        background-position-y: calc(100% + 13px);
    }
}
.about-us a:hover {
    color: #2f2f2f;
}
.about-us a:focus {
    color: #777E89;
}