@media (min-width: 768px) {
footer {
    background: rgba(33, 33, 33, 0.47);
    backdrop-filter: blur(16.5px);
    height: 271px;
    width: 100%;
}
footer .nav {
    width: 100%;
}
footer .nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}
footer .contacts .container {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}
footer .contacts .search {
    display: flex;
    gap: 59px;
    
}
footer .search-input {
    width: 388px;
    height: 20px;
    border: 1px solid white;
    background: unset;
    padding: 10px 40px 10px 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: white;
    background-image: url(../img/search-icon.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 14px);
}
.search-input::placeholder {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #dadada;
}
footer .footer-logo {
    width: 196px;
    height: 30px;
    object-fit: fill;
}
footer .nav .nav-links {
    display: flex;
    justify-content: space-between;
    gap: 62px;
    list-style-type: none;
}
footer .online {
    display: flex;
    gap: 13px;
    align-items: center;
}
footer .online a svg:last-child {
    display: none;
}

footer .call {
    display: flex;
    align-items: center;
    gap: 29px;
}
footer .call button {
    
    width: 175px;
    height: 46px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
    background-color: white;
    border: unset;
}

.call .phone-number {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.call .phone-number a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav .call {
    display: none;
}
footer .copyright {
    width: 100%;
    margin-top: 27px;
}
footer .copyright .container {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #777E89;
}
.copyright p {
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #777E89;
    display: block;
}
footer .nav-links a {
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: block;
}

}
@media (max-width: 768px) {
    footer {
        background-color: #212121;
        max-height: 680px;
    }
    footer .nav .container {
        padding-top: 55px;
    }
    footer .footer-logo {
        width: 196px;
        height: 30px;
        display: block;
    }
    footer .nav .call {
        padding-top: 34px;
        width: 100%;
        padding-bottom: 34px;
    }
    footer .nav .call button {
        margin-top: 29px;
        width: 100%;
        height: 46px;
        border: none;
        background-color: white;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 17px;
        color: #2D2D2D;
    }
    .call .phone-number a {
        font-style: normal;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        color: white;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 12px;
    }
    footer ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr auto;
        row-gap: 18px;
    }
    footer ul li a {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: white;
    }
    footer .search {
        width: 100%;
        display: flex;
    }
    footer .contacts .container {
        padding-top: 38px;
        padding-bottom: 40px;
    }
    footer .search-input {
        width: auto;
        height: 41px;
        background-color: unset;
        border: 1px solid white;
        padding-right: 45px;
        padding-left: 20px;
        flex: 1;
        background-image: url(../img/search-icon.png);
        background-repeat: no-repeat;
        background-position: calc(100% - 14px);
    }
    footer .search-input::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #DADADA;
    }
    footer .online {
        margin-top: 35px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    footer .online a {
        width: 37px;
        height: 37px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .online a svg:first-child {
        display: none;
    }
    footer .copyright {
        border-top: 1px solid #777E89;
    }

    footer .copyright .container {
        padding-top: 22px;
        padding-bottom: 38px;
    }

    footer .copyright p {
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        color: #777E89;
        margin-bottom: 20px;
    }
    footer .copyright a {
        display: block;
        width: 124px;
        height: 31px;
    }
    footer .copyright img {
        width: 124px;
        height: 31px;
        object-fit: fill;
    }
    footer .contacts .call {
        display: none;
    }

}
.call .phone-number a:hover {
    color: #D38B13;
}
.call .phone-number a:hover svg path {
    fill: #D38B13;
}
.call .phone-number a:focus {
    color: #777E89;
}
.call .phone-number a:focus svg path {
    fill: #777E89;
}
footer .nav-links a:hover {
    color: #D38B13;
}
footer .nav-links a:focus {
    color: #777E89;
}
footer .call button:hover {
    color: #D38B13;
}
footer .call button:focus {
    color: #777E89;
}
footer .online a:hover svg path {
    fill: #D38B13;
}
footer .online a:focus svg path {
    fill: #777E89;
}