.gallery {
    width: 100%;
    height: 894px;
    background-color: beige;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    display: grid;
}
.gallery div {
    
    height: 447px;
}
.gallery img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}