header {
    width: 100%;
    min-height: 83px;
    background: #EEDEBF;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.17);
    z-index: 99;
    position: relative;
}
header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
}
header a.header-logo {
    width: 199px;
    height: 30px;
    display: block;
}
header a.header-logo img {
    width: 199px;
    height: 30px;
    object-fit: fill;
    filter: brightness(0);
}
header a.header-logo:hover img {
    filter: brightness(2);
}
header .nav {
    padding-top: 7px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style-type: none;
}
header .nav a {
    text-decoration: none;
    color: black;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    font-style: normal;
}
header .phone {
    width: 191px;
    height: 42px;
}
header .select-phone {
    display: flex;
    gap: 22px;
    align-items: center;
}
.phone button {
    background: unset;
    border: unset;
    border-bottom: 1px dashed #1F1F1F;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    height: 18px;
    color: #1F1F1F;
    display: flex;
    margin-left: auto;
}
.select-phone select {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1F1F1F;
    width: 155px;
    appearance: none;
    border: unset;
    background: unset;
    background-image: url(../img/phone-arrow.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 8px;
}
.select-phone select option {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1F1F1F;
    width: 155px;
    height: 24px;
}
header .nav a:hover {
    color: white;
}
header .nav a:focus {
    color: #777E89;
}