@media (max-width: 1024px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 28px;
    }
}
@media (min-width: 1024px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 28px;
    }
}

@media (min-width: 768px) {
.our-products .container {
    width: 100%;
    min-height: 729px;
    padding-top: 125px;
    padding-bottom: 175px;
    position: relative;
}
.our-products h2 {
    line-height: 61px;
}
.product-switches {
    gap: 25px;
    display: flex;
    margin-top: 28px;
    align-items: center;
}
.product-switch {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 196px;
    height: 44px;
    background: none;
    border: none;
    border-radius: 22px;
}
.product-switch-active {
    border: 1px solid black;
}

.product-selects {
    height: 27px;
    margin-top: 38px;
    margin-bottom: 38px;
    display: flex;
    gap: 46px;
}
.product-selects select {
    background: url('../img/arrow.png') right center no-repeat;
    appearance: none;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #2F2F2F;
    height: 27px;
    padding-right: 22px;
}

.product-selects select:focus {
    outline: none;
}

.product-buttons .product-shape option {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #2F2F2F;
    width: 58px;
}
.product-switch:hover {
    border: 1px solid black;
}
.product-item {
    position: relative;
}
.product-item img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}
.product-text {
    margin-top: 16px;
    width: 100%;
    height: 105px;
    margin-bottom: -3px;
}
.product-name {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
}
.product-description {
    margin-top: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.product-price {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}
.product-buy {
    width: 107px;
    height: 46px;
    background: #D38B13;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.product-buttons {
    margin-top: 20px;
    display: flex;
    gap: 25px;
    align-items: center;
}

.product-more {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2F2F2F;
    text-decoration: none;
}

.all-products:focus, .product-buy:focus, .product-more:focus {
    color: #777E89;
}
.all-products {
    display: none;
}
.product-switches .all-products {
    display: block;
    color: #AD8442;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    position: absolute;
    right: 0;
}
.product-grid-buttons {
    display: none;
}
}
@media (max-width: 768px) {
    
    .our-products h2 {
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #2F2F2F;
    max-width: 173px;
    }

    .product-switches {
        gap: 27px;
        display: flex;
        padding-top: 36px;
        flex-direction: row;
        overflow-x: hidden;
    }
    .product-switch {
        flex-grow: 0;
        flex-shrink: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        height: 44px;
        background: none;
        border: none;
        border-radius: 22px;
    }
    .product-switch-active {
        flex-grow: 0;
        flex-shrink: 0;
        border: 1px solid black;
        padding: 0 25px;
    }

    .product-selects {
        padding-top: 5px;
        padding-bottom: 44px;
    }
    .product-selects select {
        background: url('../img/arrow.png') right center no-repeat;
        appearance: none;
        border: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #2F2F2F;
        height: 27px;
        padding-right: 22px;
        margin-top: 23px;
        margin-right: 60px;
    }

    .product-grid {
        display: flex;
        flex-direction: row;
        gap: 20px;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    .product-item {
        flex-grow: 0;
        flex-shrink: 0;
        width: 100%;
        max-height: 551px;
        scroll-snap-align: start;
    }
    .product-item img {
        width: 100%;
        height: 275px;
        object-fit: cover;
        display: block;
    }
    .product-text {
        padding-top: 20px;
        padding-bottom: 8px;
    }
    .product-name {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: #2F2F2F;
        min-height: 60px;
    }
    .product-description {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        margin-top: 7px;
        color: #2F2F2F;
        min-height: 81px;
    }
    .product-price {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 34px;
        color: #2F2F2F;
    }
    .product-buttons {
        margin-top: 17px;
    }
    .product-buy {
        width: 115px;
        height: 49px;
        background-color: #D38B13;
        border: none;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: white;
    }
    .product-more {
        margin-left: 28px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #2F2F2F;
    }
    .product-grid-buttons {
        display: flex;
        padding-top: 38px;
        padding-bottom: 21px;
        gap: 24px;
        justify-content: center;
    }
    .product-grid-buttons button {
        width: 53px;
        height: 53px;
        background: unset;
        border-radius: 50%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product-grid-buttons button svg {
        position: relative;
    }
    .product-grid-buttons .previous-product svg {
        right: 1px;
    }
    .product-grid-buttons .next-product svg {
        left: 1px;
    }
    .product-switches .all-products {
        display: none;
    }
    .all-products {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #AD8442;
    }
}

.product-buy:hover {
    color: #2F2F2F;
}

.all-products:hover {
    color: #2F2F2F;
}
.product-more:hover{
    color: #D38B13;
}

.product-grid-buttons button:hover {
    border-color: #D38B13;
}
.product-grid-buttons button:hover svg path {
    stroke: #D38B13;
}

.product-grid-buttons button:focus {
    border-color: #D38B13;
}

.product-grid-buttons button:focus svg path {
    stroke: #D38B13;
}